<%- include('partials/header-seller.ejs') -%>
<div class="container">
    <br>
    <div class="form-group">
        <form method="POST">
            <h1 class="text-center">DISPUTE</h1>
            <label>Description</label>
            <input type="text" name="productName" class="form-control" required>
                
            <label>status</label>
            <input type="text" name="productName" class="form-control" required>

        </form>
    </div>
</div>
<%- include('partials/footer.ejs') -%>
