<%- include('partials/header.ejs') -%>

<table>
    <thead>
        <th>Order ID</th>
        <th>Order date</th>
        <th>delivery date</th>
        <th>delivery charges</th>
        <th>delivery status</th>
        
    </thead>
    
</table>

<%- include('partials/footer.ejs') -%>